<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="BuildingCompanyDBEntities" connectionString="metadata=res://*/BuildingCompanyModel.csdl|res://*/BuildingCompanyModel.ssdl|res://*/BuildingCompanyModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Shindd;initial catalog=BuildingCompanyDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="BuildingCompanyDBEntities1" connectionString="metadata=res://*/BuildingCompanyModel.csdl|res://*/BuildingCompanyModel.ssdl|res://*/BuildingCompanyModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Shindd;initial catalog=BuildingCompanyDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>